<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand has-text-weight-bold has-text-grey-dark is-family-monospace">
            <a class="navbar-item  is-size-3" href="/">
                Nathan Silverman
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarMenuID">
                  <span aria-hidden="true"></span>
                  <span aria-hidden="true"></span>
                  <span aria-hidden="true"></span>
                </a>
      </div>

    <div id="navbarMenuID" class="navbar-menu">
        <div class="navbar-end">
			<a href="/" class="navbar-item has-text-black "> home</a>
			<a href="/work" class="navbar-item has-text-black "> work  </a>
			<a href="/about" class="navbar-item has-text-black "> about  </a>
			<a href="/contact" class="navbar-item has-text-black "> contact  </a>
        </div>
    </div>
</nav>

<script>
document.addEventListener('DOMContentLoaded', () => {

  // Get all "navbar-burger" elements
  const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

  // Check if there are any navbar burgers
  if ($navbarBurgers.length > 0) {

    // Add a click event on each of them
    $navbarBurgers.forEach( el => {
      el.addEventListener('click', () => {

        // Get the target from the "data-target" attribute
        const target = el.dataset.target;
        const $target = document.getElementById(target);

        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
        el.classList.toggle('is-active');
        $target.classList.toggle('is-active');

      });
    });
  }

});
</script>

<!--
<section class="hero is-fullheight">

<div class="hero-head">
	<div class="columns is-mobile is-marginless heading has-text-weight-bold">
		<div class="column left">
            <a class="navbar-item has-text-weight-bold has-text-grey-dark is-family-monospace is-size-3" href="/">
                Nathan Silverman
            </a>
		</div>
		<div class="column right">
			<p class="navbar-item has-text-black desktop"> home</p>
			<p class="navbar-item has-text-black desktop"> work  </p>
			<p class="navbar-item has-text-black desktop"> about  </p>
			<p class="navbar-item has-text-black desktop"> contact  </p>
			<figure class="navbar-item image has-text-black center">
				<i class="fas fa-bars" style="width: 1rem; height: 1rem;"></i>
			</figure>
		</div>
	</div>
</div>

</section>
-->
