<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand has-text-weight-bold has-text-grey-dark is-family-monospace">
            <a class="navbar-item  is-size-3" href="/">
                Nathan Silverman
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarMenuID">
                  <span aria-hidden="true"></span>
                  <span aria-hidden="true"></span>
                  <span aria-hidden="true"></span>
                </a>
      </div>

    <div id="navbarMenuID" class="navbar-menu">
        <div class="navbar-end">
			<a href="/" class="navbar-item has-text-black desktop"> home</a>
			<a href="/work" class="navbar-item has-text-black desktop"> work  </a>
			<a href="/about" class="navbar-item has-text-black desktop"> about  </a>
			<a href="/contact" class="navbar-item has-text-black desktop"> contact  </a>
        </div>
    </div>
</nav>

<!--
<section class="hero is-fullheight">

<div class="hero-head">
	<div class="columns is-mobile is-marginless heading has-text-weight-bold">
		<div class="column left">
            <a class="navbar-item has-text-weight-bold has-text-grey-dark is-family-monospace is-size-3" href="/">
                Nathan Silverman
            </a>
		</div>
		<div class="column right">
			<p class="navbar-item has-text-black desktop"> home</p>
			<p class="navbar-item has-text-black desktop"> work  </p>
			<p class="navbar-item has-text-black desktop"> about  </p>
			<p class="navbar-item has-text-black desktop"> contact  </p>
			<figure class="navbar-item image has-text-black center">
				<i class="fas fa-bars" style="width: 1rem; height: 1rem;"></i>
			</figure>
		</div>
	</div>
</div>

</section>
-->
